.bg-highlight {
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 63/var(--tw-bg-opacity));
}

.bg-background {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0/var(--tw-bg-opacity));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: #ff782d;
  color: #fff !important;
}

.bg-deep-black {
  --tw-bg-opacity: 1;
  background-color: rgb(26 26 26/var(--tw-bg-opacity));
}

.bg-deep-gray {
  background-color: rgba(63, 63, 63, .4);
}

.bg-orange {
  background-color: #ff9601 !important;
}

.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(47 47 47/var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0/var(--tw-bg-opacity));
}

.bg-accent-1 {
  background-color: #181818;
}

.bg-accent-2 {
  background-color: #ffffff;
}

.bg-accent-3 {
  background-color: #ff782d;
}

.bg-accent-4 {
  background-color: rgb(17, 18, 23);
  color: #fff;
}

.bg-comic {
  background-color: rgb(27, 28, 35);
}