@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&display=swap');

$dot-width: 15px !default;
$dot-height: 15px !default;
$dot-radius: $dot-width * 0.5 !default;

$dot-color: #f43f5e !default;
$dot-bg-color: $dot-color !default;
$dot-before-color: $dot-color !default;
$dot-after-color: $dot-color !default;

$dot-spacing: $dot-width + $dot-width * 0.5 !default;

@mixin dot($width: $dot-width,
  $height: $dot-height,
  $radius: $dot-radius,
  $bg-color: $dot-bg-color,
  $color: $dot-color) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: $bg-color;
  color: $color;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;
  height: fit-content;
  overflow-x: hidden;
  transition-duration: 350ms;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-2xl bg-gray-400;
}

.magictime {
  -webkit-animation-duration: 350ms !important;
  animation-duration: 350ms !important;
}

.select__value-container {
  flex-wrap: nowrap !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.circle {
  width: 3.75em;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

.circle-loading {
  fill: none;
  stroke: #fc2f70;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.vertical-slide-demo-page {
  animation: v-slide-demo-page 3s infinite;
}

.horizontal-slide-demo-page {
  animation: h-slide-demo-page 3s infinite;
}

.zoom-animate {
  animation: zoom-effect 100ms;
}

@keyframes zoom-effect {
  0% {
    transform: scale(0.8, 0.8);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

@keyframes v-slide-demo-page {
  0% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(-35px);
    /* The image width */
  }
}

@keyframes h-slide-demo-page {
  0% {
    transform: translateX(-26px);
  }

  100% {
    transform: translateX(25px);
    /* The image width */
  }
}

.bubble-top-left-to-bottom-right {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: none;
  overflow: hidden;
  transition: color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &:hover::before {
    transform: translate3d(50%, 50%, 0) scale3d(15, 15, 15);
  }

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    bottom: 100%;
    right: 100%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: linear-gradient(0deg,
            rgba(222, 33, 24, 1) 0%,
            rgba(234, 72, 66, 0.9279061966583508) 100%);
    transform-origin: center;
    transform: translate3d(50%, 50%, 0) scale3d(0, 0, 0);
    transition: transform 0.2s ease-in-out;
  }
}

.pulse-effect-primary,
.pulse-effect-secondary {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:hover::before {
    transition: all 0.75s ease-in-out;
    transform-origin: center;
    transform: scale(1.3);
    opacity: 0;
  }

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 4px solid #f43f5e;
    border-radius: inherit;
    transform-origin: center;
    transform: scale(1);
  }
}

.pulse-effect-secondary {
  &::before {
    border: 4px solid white;
  }
}

.shine-effect {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  overflow: hidden;
  cursor: pointer;

  &::after {
    content: '';
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 1.25em;
    transform: translate3d(-525%, 0, 0) rotate(35deg);
  }

  &:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translate3d(200%, 0, 0) rotate(35deg);
  }
}

.deslide-cover {
  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg,
            #202125 0,
            rgba(32, 33, 37, 0.6) 40%,
            rgba(32, 33, 37, 0) 60%,
            rgba(32, 33, 37, 0) 80%,
            #202125 100%);
  }

  &::after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg,
            #202125 0,
            rgba(32, 33, 37, 0) 50%,
            #202125 100%);
    z-index: 2;
  }
}


.deslide-cover:before {
  z-index: 1;
  background: linear-gradient(90deg, #202125, rgb(23 22 22 / 40%) 42%, rgba(32, 33, 37, 0) 60%, rgba(32, 33, 37, 0) 60%, #202125);
}

.deslide-cover:after {
  background: linear-gradient(0deg, #111217, rgba(32, 33, 37, 0) 50%, #111217);
  z-index: 2;
}

.deslide-cover:after,
.deslide-cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.default-img {
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.default-span-figure {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  inset: 0;
}

.absolute-center-start {
  display: flex;
  align-items: center;
  justify-content: start;
}

.absolute-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  height: 200px;
  line-height: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: #000 0 0 0;
  text-align: center;
  overflow: hidden;
}

.navbar-toggle {
  background-color: #d0b32e !important;
}

.breadcrumb {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: transparent;
}

.breadcrumb {
  border-radius: 4px;
}

.breadcrumb > li,
.pagination {
  display: inline-block;
}

.initial {
  display: initial;
}

.manga-detail time {
  line-height: 1;
  font-size: 13px;
  font-style: italic;
  opacity: .7;
  display: block;
  text-align: center;
  padding: 5px 0 0;
}

#item-detail .list-title {
  color: #2980b9;
  border-bottom: 2px solid #2980b9;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0;
  padding-bottom: 2px;
}

#item-detail .list-chapter .heading {
  padding: 5px 10px 5px 5px;
  font-size: 17px;
}

#item-detail .list-chapter .no-wrap {
  white-space: nowrap;
  overflow: hidden;
}

.shortened {
  max-height: 40px;
  overflow: hidden;
}

.shortened-chaplist {
  max-height: 400px;
  overflow: hidden;
}

.morelink {
  white-space: nowrap;
  display: inline-block;
  font-size: 14px;
}

.view-more {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 35px;
}

.bg-right-top {
  background-position: right top;
}

.custom-title {
  clear: both;
  margin: 15px 0 15px 2px;
  font-size: 22px;
  -webkit-transform: scaleY(.9);
  transform: scaleY(.9);
  border-left: 4px solid;
  padding-left: 10px;
  font-weight: 600;
  line-height: 16px;
  height: 18px;
  text-transform: uppercase;
  color: #ff9601;
}

#item-detail h1.title-detail {
  font-weight: 400;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  line-height: 1.2;
}

.dark-box {
  color: #333;
}

.genres ul li a {
  padding-left: 5px;
  padding-right: 5px;
}

.dark-box ul li {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #dedede;
}

.page-title {
  font-weight: 400;
  font-size: 20px;
  margin: 0 0 10px;
  color: #2980b9;
}

.a-default {
  color: #2980b9;
  text-decoration: inherit;
}

.box-tab .tab-pane ul li {
  //border-bottom: 1px solid #EAEAEA;
  //border-top: none;
}

.box-tab ul.tab-nav li {
  list-style: none;
  height: 42px;
  border-top: none;
  padding: 0;
}

.box-tab ul.tab-nav a.active {
  //border-top: 2px solid #721799;
  //border-right: 1px solid #ddd;
  //border-left: 1px solid #ddd;
  background: #f9f9f9;
}

.box-tab ul.tab-nav a {
  display: block;
  width: 100%;
  height: 100%;
  background: #ecf0f1;
  color: #333;
  text-align: center;
  font-size: 15px;
  line-height: 40px;
  border-top: 2px solid #ECF0F1;
}

.box-tab .tab-pane {
  padding: 10px;
  //border: 1px solid #EAEAEA;
  border-top: none;
}

.items-slide .slide-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  background-color: #000;
  opacity: 0.7;
}

.items-slide .slide-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
  display: block;
  color: #fff;
}

.items-slide .slide-description h3 a {
  height: 23px;
  overflow: hidden;
  font-size: 15px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}

.items-slide .slide-description a {
  color: #fff;
  font-size: 13px;
}

.items-slide .slide-caption a {
  color: #fff;
  font-size: 13px;
}

.items-slide .item {
  border: 1px solid #f2f2f2;
  margin: 0 7px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.banner__overlay--down {
  background-image: linear-gradient(180deg, transparent 10%, rgba(0, 0, 0, .8), #000);
}

@media screen and (min-width: 768px) {
  .banner__overlay {
    background-image: linear-gradient(77deg, rgba(0, 0, 0, .8) 25%, transparent 85%);
    background-color: transparent;
  }
}

.span-position {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  inset: 0;
}

.img-position {
  position: absolute;
  inset: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 50% 35%;
}

.items figure:hover {
  transform: scale(0.9, 0.9);
}

.rank-active {
  color: hsl(11deg 80% 45%);
  background: hsl(11deg 80% 31%);
  border-radius: 20px;
}

.banner-author {
  border-radius: 4px;
  border: 1px solid #5a5a5a;
}

.text-dark {
  color: #999;
}

.chapter_list-detail {
  border-bottom: 0.1px solid #2b2b2b
}

.detail-info-counts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-radius: 0.75rem;
  height: 4.46875rem;
}

.detail-info-count-item-value {
  text-align: center;
  margin: 1.03125rem 0 0;
  padding: 0;
  height: 1.6875rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.6875rem;
}

.detail-info-count-item-label {
  text-align: center;
  font-size: .75rem;
  margin: 0;
  padding: 0;
  height: 1rem;
  font-weight: 600;
  line-height: 1rem;
}

.read-bar {
  border-top: 1px solid #292929;
}

.search-input {
  width: 100%;
  padding: 8px 32px 7px 35px;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: rgb(51, 51, 51);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(238, 238, 238);
  border-radius: 17px;
  caret-color: rgb(31, 207, 132);
}

.search-hotkey {
  display: inline-block;
  margin: 0px 10px 10px 0px;
  padding: 6px 15px;
  font-size: 13px;
  line-height: 130%;
  color: #f43f5e;
  background: rgb(255, 255, 255);
  border: 1px solid #f43f5e;
  border-radius: 8px;
  cursor: pointer;
}