.vue-awesome-image {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
}

.vue-awesome-image .fade-enter-active, .vue-awesome-image .fade-leave-active {
  transition: opacity 1s ease
}

.vue-awesome-image .fade-enter-from, .vue-awesome-image .fade-leave-to, .vue-awesome-image .fade-enter {
  opacity: 0
}

.vue-awesome-image ._image-background_18kuj_12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.vue-awesome-image ._image-placeholder-wrapper_18kuj_19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden
}

.vue-awesome-image ._image-placeholder-wrapper_18kuj_19 ._image-placeholder_18kuj_19 {
  position: relative
}

.vue-awesome-image ._image-placeholder-wrapper_18kuj_19 ._image-placeholder_18kuj_19._placeholder-loaded_18kuj_30._has-webgl-filter_18kuj_30 {
  opacity: 0 !important
}

.vue-awesome-image ._image-placeholder-wrapper_18kuj_19 img {
  filter: blur(10px);
  width: 100%;
  height: 100%
}

.vue-awesome-image ._image_18kuj_12 {
  position: relative
}

.vue-awesome-image img {
  width: 100%;
  height: 100%;
  //transition: opacity;
  //vertical-align: bottom
}

.vue-awesome-image img._has-webgl-filter_18kuj_30._image-loaded_18kuj_47 {
  position: absolute;
  opacity: 0 !important;
  left: 0;
  top: 0
}

.vue-awesome-image img[srcset=""] {
  visibility: hidden;
  opacity: 0
}

.vue-awesome-image img._placeholder-loaded_18kuj_30, .vue-awesome-image img._image-loaded_18kuj_47 {
  opacity: 1 !important;
  object-fit: cover;
}

.vue-awesome-image canvas {
  vertical-align: bottom
}
